html, body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#top {
  margin: 2%;
  margin: 0 auto;
  text-align: center;
}
#main {
  margin: 2%;
  padding: 0;
  left: 0;
}
#group1, #group2{
  margin: 2% 2% 0 2%;
}
#bottom{
  margin: 0 2%;
  height: 260px;
}
iframe{
  border: 0;
  height: 400px;
}
.info{
  display: inline;
}