html, body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
    margin: 0 400px 0 200px;
    background-color: #eee;
}
.sub {
    width: 200px;
    float: left;
    background-color: #ddd;
}
.aside {
    width: 400px;
    float: right;
    background-color: #ccc;
}
.bottom{
  bottom: 0;
  margin: 50px 0;
  width: 100%;
}
