html, body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#container{
  margin: 0;
  padding: 0;
  left: 0;
}
#main {
  margin: 0;
  padding: 0;
  left: 0;
  background-color: #eee;
}
#top {
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #ddd;
}
#bottom{
  position: fixed;
  margin: 0 20px 20px 50px;
  padding: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
}
#above{
  position: absolute;
  /*z-index: 2;*/
  margin-left: 56px;
  bottom: 62px;
}